<div class="container mt-2 animate__animated animate__fadeIn">
    <h1 class="display-4">Buscar Ruta:</h1>
    <hr>
    <div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Buscar ruta" aria-label="Buscar ruta" aria-describedby="button-addon2" #buscarTexto>
            <button class="btn btn-outline-primary" type="button" id="button-addon2">Buscar</button>
        </div>
    </div>
    <div class=" row row-cols-3 ">
        <div class="col animated fadeIn ">
            <div class="card mb-3 animate__animated animate__slideInUp ">
                <div class="card-body text ">
                    <h5 class="card-title ">Ciudad Origen: </h5>
                    <h5 class="card-title ">Ciudad Destino: </h5>
                    <h5 class="card-title ">Precio: </h5>
                    <h5 class="card-title ">Tipo: </h5>
                    <div class="d-grid gap-2 ">
                        <button type="button " class="btn btn-outline-primary">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>